{% extends 'base.html' %}

{% block title %}{{ accion }}{% endblock %}

{% block content %}
  <h2 class="text-center text-success mb-4">{{ accion }}</h2>
  <form method="post" class="mx-auto" style="max-width: 500px;">
    {% csrf_token %} <!--Investigar el uso de tokens en bootstrap/html-->
    {{ form.as_p }} <!--Formulario de  tipo parrafo-->
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-success">
      {% if accion == 'Editar Cancion' %}Actualizar{% elif accion == 'Agregar Cancion' %}Guardar{% else %}Eliminar{% endif %}
      </button>
      <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
{% endblock %}
|